.full-calendar {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .fc .fc-toolbar {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 10px;
  }
  
  .fc .fc-button {
    margin: 0 5px;
  }
  
  .fc-event {
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
  }
  